.color-1 {
    color: map-get($theme-colors, primary);
}
.color-2 {
    color: map-get($theme-colors, gray1);
}
.color-3 {
    color: map-get($theme-colors, gray2);
}
.color-4 {
    color: map-get($theme-colors, gray3);
}
.color-5 {
    color: map-get($theme-colors, lightgray);
}

.color-white { 
    color: #fff;
}
.ntm {
    margin-top: 0;
}

.nbm { 
    margin-bottom: 0;
}

.bg-1 {
    background: map-get($theme-colors, primary);
}
.bg-2 {
    background: map-get($theme-colors, gray1);
}
.bg-3 {
    background: map-get($theme-colors, gray2);
}
.bg-4 { 
    background: map-get($theme-colors, gray3);
}
.bg-5 {
    background: map-get($theme-colors, lightgray);
}

.shadow-below {
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.shadow-below-white {
    box-shadow: 0 2px 12px rgba(255,255,255,.3);
}

.purple-overlay { 
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 80vh;
        background-color: rgba(79,58,121,0.15);
    }
}